streamlit==1.20.0
pandas
numpy
altair
altair_viewer
openpyxl
datetime
gensim
holidays==0.14.2
python-dateutil
plotly
streamlit-lottie
graphviz
networkx
pydot
matplotlib
python-pptx
kaleido
pio
prophet
pydeck
cairosvg
folium
streamlit_folium